<div class="grid-cols-2 blog-posts">
    
    <div class="blog-img">
        <ng-content select=".blogs-image"></ng-content>
    </div>
     <div class ="container1">
        <span class="ml-10 font-bold text-red-500 uppercase text-md">
            <ng-content select=".title"></ng-content>
        </span>
        <a  class="text-black no-underline "href="https://templatemo.com/templates/templatemo_551_stand_blog/post-details.html">
            <h6>
                <ng-content select=".titlename"></ng-content>
            </h6>
            </a>
            <ul class="post-info">
                <li class="list">
                    <a class="text-sm" href="#">
                        <ng-content select=".author"></ng-content>
                    </a>
                    <div class="h-4 w-0.5 -mt-5 ml-16 -mr-20 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm" href="#">
                        <ng-content select=.date></ng-content>
                    </a>
                    <div class="h-4 w-0.5 -mt-5 ml-24 -mr-12 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm" href="#">
                        <ng-content select=.comment></ng-content>
                    </a>
                </li>
            </ul>
            <hr class="w-10/12 mt-4 ml-10 ">
            <p class="ml-10 text-left -px-2">
                <ng-content select=".paragraph"></ng-content>
            </p>
            <hr class="w-10/12 mt-4 ml-10 ">
            
            <div class="ml-10 -mt-6 post-options">
                <ul class="post-tags ">
                  <li class="inline-block">
                    <i class="text-red-500 fas fa-tags "></i>
                  </li>
                  <li class="inline-block">
                      <a class="ml-1 text-sm text-gray-400" href="#">
                          <ng-content select=".tag1"></ng-content>
                      </a>
                  </li>
                  <li class="inline-block ml-1">
                    <a class="text-sm text-gray-400" href="#">
                        <ng-content select=".tag2"></ng-content>
                    </a>
                </li>
                </ul>
        </div>
    </div> 
     
        <button (click)="deleteData(indexelement)" class="px-4 py-2 mt-4 ml-3 bg-red-500 hover:bg-red-700 text-md" >
             <ng-content select=".delete-btn"></ng-content> 
        </button>
    
   
     
</div>


