<div class="header">
    <div class="container ">
        <a class="navbar-brand text-center mt-3" href="https://templatemo.com/templates/templatemo_551_stand_blog/index.html">
        <h2 class="uppercase text-center  text-black font-semibold text-xl tracking-wider">
            Stand Blog<em class="text-5xl text-red-500">.</em>
        </h2></a>
        <ul class="navbar-nav display:flex flex-row  ml-96  -mt-14">
            <li class="nav-item active pl-4 ">
                <a class="nav-link text-red-500  text-sm  tracking-wider font-bold  uppercase" href="https://templatemo.com/templates/templatemo_551_stand_blog/index.html">Home</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-black hover:text-red-500 text-sm tracking-wider font-bold  uppercase" href="https://templatemo.com/templates/templatemo_551_stand_blog/about.html">About Us</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-black hover:text-red-500 text-sm tracking-wider font-bold uppercase" href="https://templatemo.com/templates/templatemo_551_stand_blog/blog.html" >Blog Entries</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-black hover:text-red-500 text-sm tracking-wider font-bold  uppercase" href="https://templatemo.com/templates/templatemo_551_stand_blog/post-details.html" >Post Details</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-black hover:text-red-500 text-sm tracking-wider font-bold  uppercase" href="https://templatemo.com/templates/templatemo_551_stand_blog/contact.html" >Contact Us</a>
            </li>   
                
            
            
        </ul>
    </div>
    
</div>
