<app-top-banner bannerTitle="Recent Posts" bannerDetail="Our Recent Blog Entries!"></app-top-banner>
<app-template-blog></app-template-blog>
<div class="flex justify-start space-x-3 mx-24 flex-shrink-0">
  <div class="inline-block">
    <app-blog-posts image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-01.jpg" authorname1="Donec Tincidunt Leo" date1=" May 31, 2020" comment1="12 Comments"  image2="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-02.jpg" authorname2="Suspendisse Et Metus" date2="May 22, 2020" comment2=" 26 Comments"></app-blog-posts>
    <app-blog-posts image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-03.jpg" authorname1="Donec Tincidunt Leo" date1=" May 18, 2020" comment1="42 Comments"  image2="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-04.jpg" authorname2="Mauris Ac Dolor Ornare" date2="May 16, 2020" comment2=" 28 Comments"></app-blog-posts>
    <app-blog-posts image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-05.jpg" authorname1="Donec Tincidunt Leo" date1=" May 12, 2020" comment1="16 Comments"  image2="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-thumb-06.jpg" authorname2="Mauris Ac Dolor Ornare" date2="May 10, 2020" comment2=" 3 Comments"></app-blog-posts>
    <div class="pagenumber">
      <ul class="pages">
      <li class="inline-block border px-4 py-3 ml-2">
        <a href="#">1</a>
      </li>
      <li class="inline-block active bg-red-500  border px-4 py-3 ml-3">
        <a href="#">2</a>
      </li>
      <li class="inline-block  border px-4 py-3 ml-3">
        <a href="#">3</a>
      </li>
      <li class="inline-block  border px-4 py-3 ml-3">
        <a href="#">>>
          <i></i>
        </a>
      </li>
      </ul>
    </div>
  </div>
  
      <div class="mt-10"> 
         <app-recent-post></app-recent-post>
      </div>  
  </div> 
<app-footer></app-footer>
