<div class="sidebarform h-96 w-3/5">
    <h6 class="uppercase text-black border-b font-bold tracking-wider mt-16 ml-28 pb-3  ">Send Us A Message</h6>
     <form>
         <input class="form-content1" type="text" placeholder="Your Name">
         <input class="form-content2" type="email" placeholder="Your Email">
         <input class="form-content3" type="text" placeholder="subject">
         <textarea class="form-content4" type="text" placeholder="Your message"></textarea>
     </form>
        <div class="sendmsg-btn mt-8">
            <button class="uppercase" type="submit">Send Message</button>
        </div>
</div>

