<div class="post">
    <div class="container">
        <img class="" src={{image1}} alt="">
        <div class="down-content">
            <span class="uppercase font-semibold text-md text-red-500">{{title1}}</span>
            <a  class="text-black no-underline "href="https://templatemo.com/templates/templatemo_551_stand_blog/post-details.html">
            <h6 class=" mt-4 font-bold leading-3 tracking-wide text-xl">{{anchor1a}}</h6>
            </a>
            <ul class="post-info">
                <li class="list">
                    <a class="text-sm" href="#">Admin</a>
                    <div class="h-4 w-0.5 -mt-5 ml-16 mr-6 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm" href="#">{{date}}</a>
                    <div class="h-4 w-0.5 -mt-5 ml-28 mr-6 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm" href="#">{{comment}}</a>
                </li>
            </ul>
            <hr class=" mt-4">
            <p>{{para1}}
            <a href="https://templatemo.com/contact" target="_parent">{{anchor1b}}</a> {{para1_remain}}</p> 
            <hr class=" mt-4">
        </div>

        <div class="post-options -mt-14 ml-10">
                <ul class="post-tags ">
                  <li class="inline-block">
                      <i></i>
                  </li>
                  <li class="inline-block">
                      <a class="text-gray-400 text-sm" href="#">{{tage1a}},</a>
                  </li>
                  <li class="inline-block ml-1">
                    <a class="text-gray-400 text-sm" href="#">{{tage1b}}</a>
                </li>
                </ul>
                <ul class="post-share ">
                    <li class="inline-block">
                        <i></i>
                    </li>
                    <li class="inline-block">
                        <a class="text-gray-400 text-sm" href="#">Facebook,</a>
                    </li>
                    <li class="inline-block ml-1">
                      <a class="text-gray-400 text-sm" href="#">Twitter</a>
                  </li>
                  </ul>
        </div>
    </div>
</div>
