<div class="post">
    <div class="container">
        <div class="image">
            <ng-content select=".blog-image"></ng-content>
        </div>
       
        <div class="down-content">
            <span class="font-semibold text-red-500 uppercase text-md">
                <ng-content select="span"></ng-content>
            </span>
            <a  class="text-black no-underline"
            href="https://templatemo.com/templates/templatemo_551_stand_blog/post-details.html">
            <h6 class="mt-4 text-xl font-bold leading-3 tracking-wide ">
                <ng-content select="h6"></ng-content>
            </h6>
            </a>
            <ul class="post-info">
                <li class="list">
                    <a class="text-sm" href="#">Admin</a>
                    <div class="h-4 w-0.5 -mt-5 ml-16 mr-6 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm" href="#">
                        <ng-content select="a"></ng-content>
                    </a>
                    <div class="h-4 w-0.5 -mt-5 ml-24 mr-6 bg-gray-300"></div>
                </li>
                <li  class="list">
                    <a class="text-sm " href="#" >
                        <ng-content select="[id=comment]"></ng-content>
                    </a>
                </li>
            </ul>
            <hr class="mt-4 ">
            <p><ng-content select="p"></ng-content>
          </p> 
            <hr class="mt-4 ">
        </div>

        <div class="ml-10 -mt-20 post-options">
                <ul class="post-tags ">
                  <li class="inline-block">
                      <ng-content select="i"></ng-content>
                  </li>
                  <li class="inline-block">
                    <a class="ml-1 text-sm text-gray-400 " href="#" >
                          <ng-content select=".tag-content"></ng-content>
                        </a>
                  </li>
                  
                </ul>
                <ul class="post-share ">
                    <li class="inline-block">
                        <i class="text-red-500 fas fa-share-alt"></i>
                    </li>
                    <li class="inline-block">
                        <a class="ml-1 text-sm text-gray-400" href="#">Facebook,</a>
                    </li>
                    <li class="inline-block ml-1">
                      <a class="text-sm text-gray-400" href="#">Twitter</a>
                  </li>
                  </ul>
        </div>
    </div>
</div>
