<div class="leftside mt-24">
    <img src="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-post-02.jpg">
</div> 
<div class="content-down">
    <span class="uppercase font-bold text-md  ml-0.5 text-red-500">Lifestyle</span>
    <a  class="text-black no-underline "href="https://templatemo.com/templates/templatemo_551_stand_blog/post-details.html">
        <h6 class=" mt-2 font-bold  tracking-wide text-xl">Aenean Pulvinar Gravida Sem Nec</h6>
        </a>
        <ul class="post-info">
            <li class="list">
                <a class="text-sm" href="#">Admin</a>
                <div class="h-4 w-0.5 -mt-5 ml-12 mr-2 bg-gray-300"></div>
            </li>
            <li  class="list">
                <a class="text-sm" href="#">May 12, 2020</a>
                <div class="h-4 w-0.5 -mt-5 ml-24 mr-2 bg-gray-300"></div>
            </li>
            <li  class="list">
                <a class="text-sm" href="#">10Comments</a>
            </li>
        </ul>
        <hr class=" mt-4">
        <p>You can browse different tags such as 
            <a href="https://templatemo.com/contact" target="_parent"> multi-page, resume, video, </a> etc. to see more CSS templates. Sed hendrerit rutrum arcu, non malesuada nisi. Sed id facilisis turpis. Donec justo elit, dapibus vel ultricies in, molestie sit amet risus. In nunc augue, rhoncus sed libero et, tincidunt tempor nisl. Donec egestas, quam eu rutrum ultrices, sapien ante posuere nisl, ac eleifend eros orci vel ante. Pellentesque vitae eleifend velit. Etiam blandit felis sollicitudin vestibulum feugiat.</p> 
        <p>Donec tincidunt leo nec magna gravida varius. Suspendisse felis orci, egestas ac sodales quis, venenatis et neque. Vivamus facilisis dignissim arcu et blandit. Maecenas finibus dui non pulvinar lacinia. Ut lacinia finibus lorem vel porttitor. Suspendisse et metus nec libero ultrices varius eget in risus. Cras id nibh at erat pulvinar malesuada et non ipsum. Suspendisse id ipsum leo.</p>
        <hr class=" mt-4">    
    </div>
        <div class="post-options -mt-14 ml-10">
            <ul class="post-tags ">
              <li class="inline-block">
                <i class="fas fa-tags text-red-500"></i>
              </li>
              <li class="inline-block">
                  <a class="text-gray-400 text-sm ml-1" href="#">Best Template,</a>
              </li>
              <li class="inline-block ml-1">
                <a class="text-gray-400 text-sm" href="#">TemplateMo</a>
            </li>
            </ul>
            <ul class="post-share ">
                <li class="inline-block">
                    <i class="fas fa-share-alt text-red-500"></i>
                </li>
                <li class="inline-block">
                    <a class="text-gray-400 text-sm ml-1" href="#">Facebook,</a>
                </li>
                <li class="inline-block ml-1">
                  <a class="text-gray-400 text-sm" href="#">Twitter</a>
              </li>
              </ul>
    </div>
