.content-down{
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    height:95vh;
    padding:40px;
}
a {
    text-decoration: none;
}
.post-info a{
color:#aaa;
}
.list{
margin-top: 10px;
display: inline-block;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 30px;
    margin-top:40px;
    text-align: left;
}
.post-share {
    margin-left:560px;
    margin-top: -40px;
}