<div class="carosel-container inline-flex flex-row h-2/3 ml-2 mt-2 pt-2 mr-2">
    <div class="box">
        <img class="carosel h-full w-6/7 mt-2 pr-2 " src="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-04.jpg" alt="man" >
        <div class="carosel-text text-red-500 uppercase text-xl font-bold tracking-widest -mt-44 ml-10">Fashion</div>
         <h4 class="text-white tracking-widest font-semibold ml-10 text-2xl">Responsive and Mobile Ready Layouts</h4>
         <p class="text-white tracking-widest  font-medium ml-10 text-sm "><span class="hover:text-red-500">Admin</span> <span class="hover:text-red-500">| May 18, 2020</span> <span class="hover:text-red-500">| 48 Comments</span>  </p>
        </div>
    <div class="box">
        <img class="carosel h-full w-6/7 mt-2 pr-2" src="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-05.jpg" alt="man" >
        <div class="carosel-text text-red-500 uppercase text-xl font-bold tracking-widest -mt-44 ml-10">Nature</div>
         <h4 class="text-white tracking-widest font-semibold ml-10 text-2xl">Cras congue sed augue id ullamcorper</h4>
         <p class="text-white tracking-widest  font-medium ml-10 text-sm "><span class="hover:text-red-500">Admin</span> <span class="hover:text-red-500">| May 24, 2020</span> <span class="hover:text-red-500">| 64 Comments</span>  </p>
        </div>
    
    <div class="box">
        <img class="carosel h-full w-6/7 mt-2 mr-2" src="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-03.jpg" alt="man" >
        <div class="carosel-text text-red-500 uppercase text-xl font-bold tracking-widest -mt-44 ml-10">Lifestyle</div>
         <h4 class="text-white tracking-widest font-semibold ml-10 text-2xl">Best HTML Templates on TemplateMo</h4>
         <p class="text-white tracking-widest  font-medium ml-10 text-sm "><span class="hover:text-red-500">Admin</span> <span class="hover:text-red-500">| May 26, 2020</span> <span class="hover:text-red-500">| 72 Comments</span>  </p>
        </div>
</div>


