<div class="your-comments">
    <div class="container">
        <h6 class="uppercase text-lg  -ml-6 mt-20 font-bold">YOUR COMMENT</h6>
        <hr class="line">
        <form>
            <input class="form-content1" type="text" placeholder="Your Name">
            <input class="form-content2" type="email" placeholder="Your Email">
            <input class="form-content3" type="text" placeholder="subject">
            <textarea class="form-content4" type="text" placeholder="Type your comment"></textarea>
        </form>
        <div class="sendmsg-btn mt-8">
            <button class="uppercase" type="submit">Submit</button>
        </div>
    </div>
</div>
