<div class="your-comments">
    <div class="container">
        <h6 class="uppercase text-lg  -ml-6 mt-20 font-bold">YOUR COMMENT</h6>
        <hr class="line">
        <form>
            <input class="uppercase text-sm border text-left rounded-sm -ml-6 px-20 py-3 mt-3" type="text" placeholder="Your Name">
            <input class="uppercase text-sm border text-left rounded-sm ml-8 px-20 py-3 mt-3" type="email" placeholder="Your Email">
            <input class="uppercase text-sm border text-left rounded-sm px-64 mt-4 py-3 -ml-6" type="text" placeholder="subject">
            <textarea class="uppercase text-sm border text-left rounded-sm -ml-6 mt-4 px-64 py-20" type="text" placeholder="Type your comment"></textarea>
        </form>
        <div class="sendmsg-btn mt-8">
            <button class="uppercase" type="submit">Submit</button>
        </div>
    </div>
</div>
