<app-top-banner bannerTitle="Post Details" bannerDetail="Single Blog Post"></app-top-banner>
<app-template-blog></app-template-blog>
<div class="flex justify-start space-x-3 mx-24 flex-shrink-0">
    
  <app-blog-post></app-blog-post>  
    <div class="mt-10"> 
       <app-recent-post></app-recent-post>
    </div>  
</div> 
<div class="comments">
    <h6 class="uppercase text-lg  ml-24 -mt-60 font-bold">4 comments</h6>
    <hr class="mt-4 ml-24 w-7/12">
    <app-comment img1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/comment-author-01.jpg" author1="Charles Kate" date1="May 16, 2020" para1a="Fusce ornare mollis eros. Duis et diam vitae justo fringilla condimentum" para1b="eu quis leo. Vestibulum id turpis porttitor sapien facilisis scelerisque." para1c="Curabitur a nisl eu lacus convallis eleifend posuere id tellus." img2="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/comment-author-02.jpg" author2="Thirteen Man" date2="May 20, 2020" para2a="In porta urna sed venenatis sollicitudin. Praesent" para2b="urna sem, pulvinar vel mattis eget."></app-comment>
    <hr class="mt-12 ml-24 w-7/12">
    <app-comment img1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/comment-author-03.jpg" author1="Belisimo Mama" date1="May 16, 2020" para1a="Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt in, ultrices eget ligula." para1b="Sed vitae suscipit ligula. Vestibulum id turpis volutpat, lobortis turpis ac, molestie nibh." img2="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/comment-author-02.jpg" author2="Thirteen Man" date2="May 22, 2020" para2a="Mauris sit amet justo vulputate, cursus massa congue, vestibulum" para2b="odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo."></app-comment>
</div>
<app-your-comment></app-your-comment>

<app-footer></app-footer>
