<div class="brief-descpt1 mt-10 w-5/12 ml-28">
    <div class="container">
        <h4 class="text-center">Two-One Donec porttitor augue</h4>
        <p>Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
    </div>
    <hr class="mt-5 ml-14 w-10/12">
</div>
<div class="brief-descpt2">
    <div class="container">
        <h4 class="text-center ml-6">Two-Two Donec porttitor augue</h4>
        <p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
     </div> 
     <hr class="mt-5 ml-14 w-10/12">  
</div>

<div class="brief-descpt3 mt-10 w-1/4 ml-32">
    <div class="container">
        <h4  class="text-center ml-2">1-03 Donec porttitor augue</h4>
        <p>Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt4">
    <div class="container">
        <h4  class="text-center">2-03 Donec porttitor augue</h4>
        <p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt5">
    <div class="container">
        <h4 class="text-center">3-03 Donec porttitor augue</h4>
        <p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt6 mt-10 ml-24 w-72">
    <div class="container">
        <h4 class="text-center">01 Four Columns</h4>
        <p>Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt7">
    <div class="container">
        <h4 class="text-center">02 Four Columns</h4>
        <p>Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt8">
    <div class="container">
        <h4 class="text-center">03 Four Columns</h4>
        <p>Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="brief-descpt9">
    <div class="container">
        <h4 class="text-center">04 Four Columns</h4>
        <p>Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
    </div>
    <hr class="mt-5 ml-6 w-10/12">
</div>
<div class="social-media-icon mt-10 text-center">
    <ul>
        <li></li>
        </ul>
</div>
