<div class="sidebarinfo">
    <h6 class="uppercase text-black border-b leading-2 pb-3 text-md font-bold tracking-wider  ">contact information</h6>
    <h6 class="uppercase text-black mt-3 text-lg leading-2 pb-3 font-bold tracking-wider  ">090-484-8080</h6>
    <p class="uppercase  border-b -mt-3 pb-3 text-sm text-gray-400">Phone Number</p>
    <h6 class=" text-black mt-3 text-lg  leading-2 pb-3 font-bold tracking-wider  ">info@company.com</h6>
    <p class="uppercase  border-b -mt-3 pb-3 text-sm text-gray-400">Email Address</p>
    <h6 class=" text-black mt-3 text-lg leading-2 pb-3 font-bold tracking-wider  ">123 Aenean id posuere dui,
        Praesent laoreet 10660</h6>
    <p class="uppercase  border-b -mt-3 pb-3 text-sm text-gray-400">Street Address</p>