<app-carousel></app-carousel>
<app-template-blog></app-template-blog>
<div class="flex justify-start space-x-0.5 mx-64">
     <div class="leftside mt-3">
        <app-post image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-post-01.jpg" title1="Lifestyle" anchor1a="Best Template Website For HTML CSS" date="May 31, 2020" comment=" 12 Comments"para1="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose." anchor1b=" Contact TemplateMo" para1_remain="for more info. Thank you." tage1a="Beauty" tage1b="Nature" > </app-post>
        <app-post image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-post-02.jpg" title1="Healthy" anchor1a="Etiam Id Diam Vitae Lorem Dictum" date=" May 24, 2020" comment=" 36 Comments" para1=" You can support us by contributing a little via PayPal. Please contact"anchor1b="TemplateMo" para1_remain="via Live Chat or Email. If you have any question or feedback about this template, feel free to talk to us. Also, you may check other CSS templates such as multi-page, resume, video, etc." tage1a=" Best Templates " tage1b="TemplateMo" > </app-post>
        <app-post image1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/blog-post-03.jpg" title1="FASHION" anchor1a="Donec Tincidunt Leo Nec Magna" date="May 14, 2020" comment=" 48 Comments"para1="Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque." tage1a="HTML CSS" tage1b="Photoshop" > </app-post>
        <div class="viewpost">
            <a href="https://templatemo.com/templates/templatemo_551_stand_blog/blog.html">View All Post</a>
        </div>
    </div> 
    <div class="mt-3"> 
       <app-recent-post></app-recent-post>
    </div>  
</div>





<app-footer></app-footer>

