<app-carousel></app-carousel>
<app-template-blog></app-template-blog>
<div class="flex justify-start space-x-0.5 mx-64">
     <div class="mt-3 leftside">
         <app-post  *ngFor= "let item of data let i= index" [indexelement]="i" (parentFunction)="parentFunction($event)">
             <div class="blog-image">
               
                 <img src="{{item.image}}" alt="image"> 
             </div>
             <span>{{item.title}}</span>
             <h6  class="mt-4 text-xl font-bold leading-3 tracking-wide"> {{item.subTitle}}</h6>
             <a> {{item.publishedDate}}</a>
             <a id="comment" class="ml-10 text-gray-400">12 Comments</a>
             <p>{{item.content}}</p> 
             <i class="text-red-500 fas fa-tags"></i>
            <div class="ml-2 tag-content">{{item.tags[0]}}, {{item.tags[1]}}</div>
            <div class="delete-btn">
                <button  class="font-semibold text-center uppercase text-md">delete post</button>
                </div> 
          
         </app-post>
         
        <div class="viewpost">
            <a href="https://templatemo.com/templates/templatemo_551_stand_blog/blog.html">View All Post</a>
        </div>
    </div> 
    <div class="mt-3"> 
       <app-recent-post ></app-recent-post>
    </div>  
</div>
<app-footer></app-footer>

