<div class="footer h-70">
    <div class="container">
       <ul class="social-media">
           <li class=" ">
               <a class="text-white uppercase text-sm font-medium" href="#">Facebook</a>
               <div class="h-4 w-0.5 -mt-5 ml-40  bg-white"></div>
           </li>
           <li>
               <a class="text-white uppercase text-sm font-medium -ml-10" href="#">Twitter</a>
               <div class="h-4 w-0.5 -mt-5 ml-36 bg-white"></div>
           </li>
           <li>
               <a class="text-white uppercase text-sm font-medium -ml-10" href="#">Behance</a>
               <div class="h-4 w-0.5 -mt-5 ml-40 bg-white"></div>
           </li>
           <li>
               <a class="text-white uppercase text-sm font-medium -ml-10" href="#">Linkedin</a>
               <div class="h-4 w-0.5 -mt-5 ml-36 bg-white"></div>
           </li>
           <li>
               <a class="text-white uppercase text-sm font-medium ml-8" href="#">Dribble</a>
           </li>
       </ul>
       <div class="copyright-text">
           <p class="text-white uppercase text-xs font-normal">Copyright 2020 Stand Blog Co.
                    
            | Design: 
            <a class="text-red-500" href="https://templatemo.com/" target="_parent">TemplateMo</a>
        </p>
       </div>
    </div>
</div>

