p{
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 30px;
    margin-top:40px;
    text-align: left;
}
.author-para{
    margin-top:-10px;
}
.author-content{
    margin-top: -108px;
    margin-left:230px;
}
.author-content2{
   margin-left:340px; 
   margin-top:-108px;
}