<div class="comments-card">
   
   <div class="contents">
       <ul>
           <li>
               <div class="author-img ml-24 mt-4">
                    <img src={{img1}}>
               </div>
               <div class="author-content ">
                    <h6 class="inline-block font-bold text-xl">{{author1}}</h6>
                    <span class="inline-block ml-6 text-gray-400 text-sm">{{date1}}</span>
                    <p class="author-para">{{para1a}} <br> {{para1b}} <br>{{para1c}}</p>
               </div>
           </li>
           <hr class="mt-6 ml-24 w-7/12">
           <li>
            <div class="author-img2 ml-52 mt-4">
                 <img src={{img2}}>
            </div>
            <div class="author-content2  ">
                 <h6 class="inline-block font-bold text-xl">{{author2}}</h6>
                 <span class="inline-block ml-6 text-gray-400 text-sm">{{date2}}</span>
                 <p class="author-para">{{para2a}} <br> {{para2b}}<br>{{para2c}}</p>
            </div>
        </li>
       </ul>
   </div>
</div>